<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
<!--                        <h6 class="fw-bold mt-2 mt-md-0 mb-4">-->
<!--                            LEARN-->
<!--                        </h6>-->
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{index.footer.learn}">
                            LEARN
                        </h6>
                        <p>
<!--                            <a class="footer-href" href="#">Programming Courses</a>-->
                            <a class="footer-href" th:text="#{index.footer.programming_courses}">Programming Courses</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Java Course</a>-->
                            <a class="footer-href" th:text="#{index.footer.java_course}">Java Course</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Help with Tasks</a>-->
                            <a class="footer-href" th:text="#{index.footer.help_with_tasks}">Help with Tasks</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Pricing</a>-->
                            <a class="footer-href" th:text="#{index.footer.pricing}">Pricing</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Game Projects</a>-->
                            <a class="footer-href" th:text="#{index.footer.game_projects}">Game Projects</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
<!--                        <h6 class="fw-bold mb-4">-->
<!--                            COMMUNITY-->
<!--                        </h6>-->
                        <h6 class="fw-bold mb-4" th:text="#{index.footer.community}">
                            COMMUNITY
                        </h6>
                        <p>
<!--                            <a class="footer-href" href="#">Users</a>-->
                            <a class="footer-href" th:text="#{index.footer.users}">Users</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Articles</a>-->
                            <a class="footer-href" th:text="#{index.footer.articles}">Articles</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Forum</a>-->
                            <a class="footer-href" th:text="#{index.footer.forum}">Forum</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Chat</a>-->
                            <a class="footer-href" th:text="#{index.footer.chat}">Chat</a>
                        </p>
                        <p>
<!--                            <a class="footer-href" href="#">Success Stories</a>-->
                            <a class="footer-href" th:text="#{index.footer.success_stories}">Success Stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
<!--                        <h6 class="fw-bold mb-4">COMPANY</h6>-->
                        <h6 class="fw-bold mb-4" th:text="#{index.footer.company}">COMPANY</h6>
                        <p>
<!--                            <a class="footer-href" href="#">About us</a>-->
                            <a class="footer-href" th:text="#{index.footer.about_us}">About us</a>
                        <p>
                        <p>
<!--                            <a class="footer-href" href="#">Contacts</a>-->
                        <a class="footer-href" th:text="#{index.footer.contacts}">Contacts</a>
                        <p>
                        <p>
<!--                            <a class="footer-href" href="#">Reviews</a>-->
                        <a class="footer-href" th:text="#{index.footer.reviews}">Reviews</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#">FAQ</a>
                        <p>
                        <p>
<!--                            <a class="footer-href" href="#">Support</a>-->
                        <a class="footer-href" th:text="#{index.footer.support}">Support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
<!--                        <p>-->
<!--                            JavaRush is an online course for learning Java programming from scratch.-->
<!--                            This course is a perfect way to master Java for beginners.-->
<!--                            It contains 1200+ of tasks with instant verification and an essential scope of Java-->
<!--                            fundamentals theory.-->
<!--                        </p>-->
                        <p th:text="#{index.footer.message1}">
                            JavaRush is an online course for learning Java programming from scratch.
                            This course is a perfect way to master Java for beginners.
                            It contains 1200+ of tasks with instant verification and an essential scope of Java
                            fundamentals theory.
                        </p>
<!--                        <h6>FOLLOW US</h6>-->
                        <h6 th:text="#{index.footer.follow_us}">FOLLOW US</h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{index.footer.copyrights}">
            Programmers Are Made, Not Born © 2023 JavaRush
        </div>
    </footer>
</div>
</html>
